.forgot{
    font-size:15px;
    color:bisque;
    text-decoration:none;
}
.forgot:hover{
    color:gold;
    text-decoration: underline;
    cursor:crosshair;
    font-size: 16px;
}
button{
    color:darkgreen;
    width:10%;
    border:none;
    background-color: burlywood;
    border-radius: 5px;
}
button:hover{
    color:brown;
}
.Login-card{
    border:1px solid;
    border-radius: 20px;
    border-style:ridge;
    padding: 30px;
    
    width:40%;
    height:10%;
    display:flex;
    flex-direction:column;
    border-color: blanchedalmond
}
.form-control{
    display:flex;
    flex-direction: column;

}
input{
    height:30px;
    width:70%;
    border-radius: 10px;
}
p{
    color:bisque;
}
body{
    background-color:blueviolet;
}
h1{
    color:blanchedalmond;
}
h2{
    color:bisque;
}