
.forgot{
    display:flex;
    font-size:15px;
    color:darkgreen;
    text-decoration:none;
    justify-content:center;
    align-items:center;
    margin:10px auto;
    width:400px;
}
.forgot:hover{
    color:gold;
    text-decoration: underline;
    cursor:pointer;
    font-size: 16px;
}
.remember:hover{
    color:gold;
    text-decoration: underline;
    cursor:pointer;
    font-size: 16px;
}
button{
    color:whitesmoke;
    width:20%;
    border:none;
    background:linear-gradient(mediumturquoise,mediumseagreen);
    border-radius: 5px;
    font-size: large;
}
button:hover{
    color:cadetblue;
}
.Login-card{
    border:5px solid;
    border-radius: 20px;
    border-style:ridge;
    padding: 30px;
    width:40%;
    height:10%;
    display:flex;
    flex-direction:column;
    border-color: blanchedalmond
}
 body{
    margin:0;
    height:100vh;
    background:linear-gradient(to bottom,transparent 50%,white 50%),
           url('./O4YIQ90.jpg');
           background-size:cover ;
           background-position: center;
}
.form-control{
    display:flex;
    flex-direction: column;

}
h3{
    color:seagreen;
}
p{
    font-size: 20px;
    color:darkolivegreen;
}
input{
    height:30px;
    width:70%;
    border-radius: 10px;
    background:linear-gradient(135deg,yellow,#43cea2);
    font-display:fallback;
    font-size: medium;
    text-align: center;
    color:azure;
}
h2{
   color:darkslategray;
}
h1{
   color:azure;
}
