.container {
  height: 100vh;
  
   
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background-color: blueviolet;
}

.overlay {
  width: 100%;
  height: 100%;
  background:white;
  padding: 40px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  background-color:azure;
  border: 1px solid white;
}

th {
  padding: 15px;
  font-size: 18px;
  border: 1px solid white;
}

.props-heading {
  color:azure;
}

.state-heading {
  color:azure;
}

td {
  padding: 15px;
  border: 1px solid black;
  font-size: 15px;
  color:azure;
}

tr:hover {
  background-color:blueviolet;
}
